@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --color: #3a3e40;
  --color-primary: #ff6b3a;
  --color-secondary: #2e3233;
  --bg: #dadcdb;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --card-color: #717171;
  --card-text: #e0e0e0;
  --bg-trs: #fcfcfc;
  --bg-ending: #bdbdbd;
  --circle-color: rgba(14, 14, 14, 0.64)
}

.dark-mode {
  --color: #ffffff;
  --color-secondary: #5F6769;
  --color-primary: #ff6b3a;
  --bg: #252829;
  --bg-secondary: #424242;
  --border-color: #333738;
  --card-color: #242728;
  --card-text: #ebf4f1;
  --circle-color: rgba(135, 135, 135, 0.15);
  --bg-trs: #1f2123;
  --bg-ending: #1f1f1f;
}

html {
  background-color: var(--bg);
}

#app {
  font-family: 'Comfortaa', sans-serif;
  background: linear-gradient(rgba(65, 65, 65, 0.2), rgba(0, 0, 0, 0.5));
  color: var(--color);
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s ease-in-out;
}

.personal {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  color: var(--color-primary);
}

.personal-small {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  color: var(--color-primary);
}

.card {
  color: var(--card-text) !important;
  background: rgba(21,20,20,0) !important;
  border: solid 1px var(--card-color) !important;
  transition: background-color .5s;
  border-radius: 8px !important;
}

.v-list {
  border-radius: 8px !important;
}

.card-text {
  color: var(--card-text) !important;
}

.primary-text {
  color: var(--color-primary) !important;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

.white-text {
  color: var(--color) !important;
}

.secondary-color {
  color: var(--color-secondary) !important;
}

.secondary-border {
  border: solid 1px var(--color-secondary) !important;
}

.home-enter-active, .home-leave-active { transition: opacity .10s; }
.home-enter, .home-leave-active { opacity: 0; }

/* Animation effect */
.raise:hover,
.raise:focus {
  box-shadow: 0 0.3em 0.3em -0.2em var(--color-primary);
  transform: translateY(-0.10em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--color-primary);
}

.transition-h:hover {
  transform: scale(1.1);
}
